.body{
    max-width: 500px;
    margin: auto;
    justify-content: center;
    align-items: center;  
    padding: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h1{
    justify-content: center;
    align-items: center; 
    display: flex;
    font-weight: 400;
}

.button{
    width: 60px;
    font-weight: 200;
}

.main{
    justify-content: center;
    align-items: center; 
    display: flex;
    padding: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#main {
    padding-bottom: 300px;
    margin:0 auto;
    position: relative;
    width: 960px;
    } 